<div class="ui small modal">
  <i class="close icon large"></i>
  <div class="header">Post a question</div>
  <div class="content">
    <form id="add-post">
      <div class="form-group">
        {{input value=username  placeholder="choose a username" class="form-control"}}
      </div>
      <div class="form-group">
        {{input value=date  placeholder="date"  type="date" class="form-control"}}
      </div>
      <div class="form-group">
        {{input value=location placeholder="location" class="form-control"}}
      </div>
      <div class="form-group">
        {{input value=title placeholder="title" class="form-control"}}
      </div>
      <div class="form-group">
        {{textarea class="form-control" value=content placeholder="content"}}
      </div>
      <button {{action 'savePost'}} class="ui basic button">
        <i class="comments outline icon"></i>
        Post!
      </button>
    </form>
  </div>
</div>
