<div class="admin-post question-post">
  <div class="row">
    <div class="col-md-6">
      <div><h5>By: {{post.username}}<i class="moment">{{moment-from-now post.date interval=1000}}</i></h5></div>
    </div>
  </div>
  {{#link-to 'post' post.id}}<h3><span>Q:</span>{{post.title}}</h3>{{/link-to}}
  <p>{{post.content}}</p>
  <footer class="row">
    {{#link-to 'post' post.id}}<p class="col-md-4 seeComments"><i class="comment icon"></i>See comments</p>{{/link-to}}
    <p {{action 'destroyPost' post}}class="col-md-4 delete-post"><i class="trash icon"></i>Delete this post</p>
    {{update-form post=post update="update"}}
  </footer>
</div>
